@import './partial/navigation.css';
@import './partial/variables.css';
@import './partial/header.css';
@import './partial/loader.css';
@import './partial/about.css';
@import './partial/services.css';
@import './partial/pricing.css';
@import './partial/portfolio.css';
@import './partial/modal.css';
@import './partial/contact.css';
@import './partial/footer.css';

body, html {
    margin: 0;
    padding: 0;
    font-family: LatoRegular;
    width: 100%;
}

.section {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

.section__title {
    width: 100%;
    text-align: center;
    font-size: 45px;
    padding: 50px 0 10px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid gray;
    font-family: LatoBold;
    color: #333;
}

.clear {
    clear: both;
}

@media screen and (max-width: 600px) {
    .section__title {
        font-size: 35px;
        padding: 20px 0 5px 0;
        margin-bottom: 15px;
    }
}
