.header {
    height: 100vh;
    background-image: url("../../img/header_background.jpg");
    background-size: cover;
    width: 100%;
}
.header__container {
    width: 100%;
    height: 100%;
    animation: fade-animation 4s;
    animation-iteration-count: 1;
}
.header__row {
    width: 80%;
    margin: auto;
    height: 100%;
}
.header__text {
    width: 100%;
    height: 100%;
    display: table;
}
.header__text h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000;
    animation: leftright 3s forwards 1s;
    opacity: 0;
}
.header__text h1 span {
    font-size: 30px;
}

@keyframes fade-animation {
    from {
        background: rgba(0,0,0,1);
    }
    to {
        background: rgba(0,0,0,0);
    }
}
@keyframes leftright {
    from {
        left: -110%;
        position: relative;
        opacity: 0;
    }
    to {
        left: 0;
        position: relative;
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .header__text h1 {
        font-size: 30px;
    }

    .header__text h1 span {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .header__text h1 {
        font-size: 20px;
    }

    .header__text h1 span {
        font-size: 14px;
    }
}