.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 80px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
}

.modal__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #333;
    width: 80%;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s;
}

.modal__close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal__close:hover, .modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__header {
    padding: 2px 16px;
    background-color: #2581DC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__body {
    padding: 2px 16px;
    max-height: 70%;
    overflow-y: auto;
}

.modal__body p:first-of-type {
    font-size: 20px;
    line-height: 28px;
}

.modal__body p:last-of-type {
    font-size: 18px;
    line-height: 28px;
}

.modal__body img {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px 20px 50px 20px;
    box-sizing: border-box;
}

@-webkit-keyframes animatetop {
    from {
        top:-300px; 
        opacity:0
    } 
    to {
        top:0; 
        opacity:1
    }
}

@keyframes animatetop {
    from {
        top:-300px; 
        opacity:0
    }
    to {
        top:0; 
        opacity:1
    }
}

@media screen and (max-width: 860px) {
    .modal {
        padding-top: 80px;
    }

    .modal__content {
        width: 92%;
    }

    .modal__body p:first-of-type, .modal__body p:last-of-type {
        line-height: 22px;
    }

    .modal__header h2 {
        font-size: 20px;
        margin: 5px 0;
    }

    .modal__body p:first-of-type {
        font-size: 16px;
        margin: 5px 0;
    }

    .modal__body p:last-of-type {
        font-size: 14px;
        margin: 5px 0;
    }
}
